services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped

    ports:
      - "6333:6333"   # HTTP
      - "6334:6334"   # gRPC
      - "9090:9090"   # Метрики

    volumes:
      - ./qdrant_storage:/qdrant/storage
      - ./qdrant_snapshots:/qdrant/snapshots
      - ./qdrant_conf/config.yaml:/qdrant/config/config.yaml
